<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Screamer Main Menu</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div class="B C">
<div class="T">Screamer {{ version }}</div>
<div class="S">Emulating: {{ model }}
<br/>Device ID: {{ device_id }}
<br/>Firmware: {{ firmware }}
</div>
<ul>
<li><a href="/lineup.html">Channel Lineup</a></li>
<li><a href="/tuners.html">Tuner Status</a></li>
<!--li><a href="/system.html">System Menu</a></li-->
<li><a href="https://github.com/samicrusader/screamer">GitHub</a></li>
</ul>
</div>
</body>
</html>
